<div class="content" role="main">

  <div class="card highlight-card card-small">

    <span>{{ title }} app is running!</span>

  </div>

  <h3>Intro: Types, Variables, Arrays, Loops</h3>

  <p>
    <button (click)="declaringVariablesInMethod()">declaringVariablesInMethod</button>
  </p>
  <p>
    <button (click)="useClassVariables()">useClassVariables</button>
  </p>
  <p>
    <button (click)="exploringArrays()">exploringArrays</button>
  </p>
  <p>
    <button (click)="exploringLoopsInJavaStyle()">exploringLoopsInJavaStyle</button>
  </p>
  <p>
    <button (click)="exploringLoopsInAngularStyle()">exploringLoopsInAngularStyle</button>
  </p>
  <p>
    <button (click)="exploringWhileLoops()">exploringWhileLoops</button>
  </p>

  <h3>Classes and objects</h3>

  <p>
    <button (click)="understandingJavaScriptObjects()">understandingJavaScriptObjects</button>
  </p>
  <p>
    <button (click)="creatingClasses()">creatingClasses</button>
  </p>
  <p>
    <button (click)="exploringMethods()">exploringMethods</button>
  </p>
  <p>
    <button (click)="exploringArrowFunctions()">exploringArrowFunctions</button>
  </p>
  <p>
    <button (click)="usingStringTemplates()">usingStringTemplates</button>
  </p>
  <p>
    <button (click)="exploringObjectEquality()">exploringObjectEquality</button>
  </p>
  <p>
    <button (click)="exploringUndefined()">exploringUndefined</button>
  </p>

</div>
